html, body {
	width: 100%;
	height: 100%;
}

.container {
	background: black;
	/*display: inline-block;*/
	border: 2px solid black;
}

.grid {
	display: grid;
	grid-template-columns: repeat(50, 80px);
	grid-template-rows: repeat(50, 80px);
	grid-gap: 2px;
	overflow-x: scroll;
	overflow-y: scroll;
}

.celda {
	justify-content: center;
	align-items: center;
	display: flex;
	font-family: Arial;
	font-size: 1rem;
	font-weight: bold;
	background-size: contain;
}

.celda.vacia {
	background-image: url("../img/blanco.png");
}

.celda.verde {
	background-image: url("../img/verde.png");
}

.celda.roja {
	background-image: url("../img/rojo.png");
}

.w3-button img {
	display: block;
	/*max-width: 50px;
	max-height: 50px;*/
	width: 100%;
	height: 100%;
}

.w3-button.btnApagado {
	background-color: none;
}

.w3-button.btnEncendido {
	background-color: #d0a2ff;
}

/*
NO SE PUEDE USAR UN CSS DENTRO DE OTRO! PERO PUEDES USAR UNA VARIABLE JSTL Y APLICARLA. 
.estilo-boton-menu{
	w3-bar-item w3-button w3-border
}*/